
$main:#a29587;
$secound:#332e3c;
$secound1:#846c5b;
$secound2:#c4b2bc;
$font:#d8d4f2;

html,body
{
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 100vh;

    font-size: 16px;
    color:$font;
}

body
{
    background:$main;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    .topStuff
    {
        flex:2;
        display:flex;
        .nav
        {

            flex:1;
            $sizeNav:10em;

            div
            {
                position: absolute;
                width: $sizeNav*5;
                height: $sizeNav/5;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(-45deg);
                left:-2*$sizeNav;
                top:$sizeNav/2;
                
                &:hover
                {
                    transform: scale(1.1) rotate(-45deg);
                    cursor: pointer;
                }
            }
            div:nth-child(1)
            {
                margin-top:0;
                background:$secound1;
                
            }
            div:nth-child(2)
            {
                margin-top: $sizeNav/5;
                margin-left: $sizeNav/5;
                background:$secound;
                
            }




        }
        .ImportantMessagesDiv
        {
            margin-top: 1em;
            margin-right: 1em;
            flex:3;
            background: $main;

            
            height: 20em;
            .ImportantMessages
            {
                background:$secound;
                text-align: center;
                font-size: 2em;
                border:$secound1 solid .2em;
                border-radius: .3em;
            }
        }
    }

    .content
    {
        
        margin: 1em;
        box-shadow: 2px 2px 5px 5px $secound;
        flex:5;
        display: flex;
        flex-direction: column;
        

        
        .messages
        {
            order:2;
            padding: .5em;
            flex:1;
            color: $secound;
            background: $secound2;
            display:flex;
            flex-direction: row;
            align-items: center;
            & *
            {
                height: 100%;
                margin-right: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .category
            {
                flex:2;
            }
            .MessagText
            {
                flex:17;
            }
            .delete
            {
                justify-self: center;
                flex:1;
                border-radius: 1em;
                height: 2em;
                width: 2em;
                &:hover
                {
                    background-color: red;
                    color:$font;
                }
            }
            .MessageId
            {
                display:none;
            }
            & :nth-child(2n+1)
            {
                text-align: center;
                border:$secound dotted 1px;
            }

            &:nth-child(2n)
            {
                background:$main;
            }
            
            &:hover
            {
                border:$secound dotted 2px;
                cursor: pointer;
            }
            
        }
        .clickedMessage
            {
                font-size: 2em!important;
                
            }
        
    }


    .scroll
    {
        overflow-y:scroll;
        &::-webkit-scrollbar {width: .5em;}
        
        &::-webkit-scrollbar-track 
        {
            box-shadow: inset 0 0 .1em $secound; 
            border-radius: 1em;
        }
        &::-webkit-scrollbar-thumb 
        {
            background: $secound; 
            border-radius: 1em;
        }
    }


    .modalWindow
    {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background:rgba($main, 0.6);

        .window
        {
            width: 40em;
            height: 50em;
            margin:auto;
            background: $secound1;
            margin-top: 1em;
            border-radius: 5em;
            & div
            {
                padding:1em;
                text-align: center;
                font-size: 2em;

                & form
                {
                   
                    display: flex;
                    flex-direction: column;
                    & *
                    {
                        
                        width: 70%;
                        resize: none;
                        margin:auto;
                        margin-bottom:1em;

                    }
                    & textarea
                    {
                        height: 10em;
                    }
                    & [for="vimportant"]
                    {
                        padding-top: 1em;           
                        height: 3em;
                        &:hover
                        {
                            cursor: pointer;
                        }
                    }
                    .selectPaintingBgrd
                    {
                        background: url('select.png');
                        background-repeat: no-repeat;
                        background-size: 90%;
                    }
                    & [type='submit']
                    {

                        color:$font;
                        background:$secound;
                        border-radius: 10em;
                        font-size: 1em;
                        &:hover
                        {
                            cursor: pointer;
                        }
                        box-shadow: 3px 3px 5px 5px $secound;
                    }

                }
            }
            
        }
    }

    .hide
    {
        display: none;
    }
    

}

$breakpoint-tablet: 1000px;
@media (max-width: $breakpoint-tablet) {
  
    body
    {
        overflow-y: scroll;
        height: unset;

        .topStuff
        {
            height: 100vh;
            flex-direction: column;
            .ImportantMessagesDiv 
            {
                
                height: 10vh;
                width: 90vw;
                margin:auto;
                margin-top: 20em;
            }
            
        }
        .content 
            {
                margin:auto;
                height: 60vh;
                width: 80vw;
                margin-top: 5em;
            }
    }
}
