html, body {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size: 16px;
  color: #d8d4f2;
}

body {
  background: #a29587;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .topStuff {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .topStuff .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .topStuff .nav div {
  position: absolute;
  width: 50em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -20em;
  top: 5em;
}

body .topStuff .nav div:hover {
  -webkit-transform: scale(1.1) rotate(-45deg);
          transform: scale(1.1) rotate(-45deg);
  cursor: pointer;
}

body .topStuff .nav div:nth-child(1) {
  margin-top: 0;
  background: #846c5b;
}

body .topStuff .nav div:nth-child(2) {
  margin-top: 2em;
  margin-left: 2em;
  background: #332e3c;
}

body .topStuff .ImportantMessagesDiv {
  margin-top: 1em;
  margin-right: 1em;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background: #a29587;
  height: 20em;
}

body .topStuff .ImportantMessagesDiv .ImportantMessages {
  background: #332e3c;
  text-align: center;
  font-size: 2em;
  border: #846c5b solid 0.2em;
  border-radius: .3em;
}

body .content {
  margin: 1em;
  -webkit-box-shadow: 2px 2px 5px 5px #332e3c;
          box-shadow: 2px 2px 5px 5px #332e3c;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .messages {
  padding: .5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #332e3c;
  background: #c4b2bc;
}

body .content .messages:nth-child(2n) {
  background: #a29587;
}

body .content .messages::after {
  content: 'X';
  float: right;
  font-weight: bold;
  color: red;
  font-size: 1em;
}

body .content .messages::after:hover {
  cursor: pointer;
}

body .scroll {
  overflow-y: scroll;
}

body .scroll::-webkit-scrollbar {
  width: .5em;
}

body .scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.1em #332e3c;
          box-shadow: inset 0 0 0.1em #332e3c;
  border-radius: 1em;
}

body .scroll::-webkit-scrollbar-thumb {
  background: #332e3c;
  border-radius: 1em;
}

body .modalWindow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(162, 149, 135, 0.6);
}

body .modalWindow .window {
  width: 40em;
  height: 50em;
  margin: auto;
  background: #846c5b;
  margin-top: 1em;
  border-radius: 5em;
}

body .modalWindow .window div {
  padding: 1em;
  text-align: center;
  font-size: 2em;
}

body .modalWindow .window div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .modalWindow .window div form * {
  width: 70%;
  resize: none;
  margin: auto;
  margin-bottom: 1em;
}

body .modalWindow .window div form textarea {
  height: 10em;
}

body .modalWindow .window div form [for="vimportant"] {
  padding-top: 1em;
  height: 3em;
}

body .modalWindow .window div form [for="vimportant"]:hover {
  cursor: pointer;
}

body .modalWindow .window div form .selectPaintingBgrd {
  background: url("select.png");
  background-repeat: no-repeat;
  background-size: 90%;
}

body .modalWindow .window div form :last-child {
  color: #d8d4f2;
  background: #332e3c;
  border-radius: 10em;
  font-size: 1em;
  -webkit-box-shadow: 3px 3px 5px 5px #332e3c;
          box-shadow: 3px 3px 5px 5px #332e3c;
}

body .modalWindow .window div form :last-child:hover {
  cursor: pointer;
}

body .hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */